* {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}


.block{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.user-table{
    margin-top: 1rem;
}

.CRUD {
    display: flex;
    flex-direction: column;
}

.CRUD * {
    margin-top: 0.5rem;
}