.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.image {
    width: 30%;
    min-width: 200px;
    object-fit: cover;
}

.text {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
}

.container_image1 {
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 100%;
}

.image1 {
    border-radius: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: min(557px, 100%);
    height: 437px;
}

.container_image2 {
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 100%;
}

.image2 {
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: min(430px, 100%);
    height: 437px;
}

.image3 {
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: min(430px, 100%);
    height: 437px;
}

