.link {
    font-family: Georgia;
    color: #6b4f4f;
    text-decoration: underline;
}


.uploadedFiles {
    display: flex;
    align-items: center;
    font-family: Georgia;
}

.uploading {
    display: flex;
    font-family: Georgia;
}

.container {
    display: flex;
    align-items: center;
    font-family: Georgia;
    flex-direction: column;
}