.title {
    margin-top: 4rem;
    font-size: 48px;
    font-family: Georgia;
    margin-left: 80px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.image {
    width: 30%;
    object-fit: cover;
}

.textContainer {
    display: flex;
    justify-content: center;
    gap: 35rem;
    width: 100%;
    margin-bottom: 50px;
}